*.suo
*.cache
*/Thumbs.db
.vs/*
/Source/CombatExtended/bin/*
/Source/CombatExtended/obj/*
/Source/CombatExtended/CombatExtended.csproj.user
/Assemblies

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
 
# Ignore RimWorld assemblies 
Assembly-CSharp.dll 
UnityEngine.dll 

.idea/
dist/