Assemblies/CombatExtended.dll
*.suo
*.cache
*/Thumbs.db
/Source/.vs/*
/Source/CombatExtended/bin/*
/Source/CombatExtended/obj/*
/Source/CombatExtended/CombatExtended.csproj.user
.vscode
# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
 
# Ignore RimWorld assemblies 
Assembly-CSharp.dll 
UnityEngine.dll 

.idea/
