
*.suo
*.cache
/Source/CombatRealism/_DLLs
/Source/CombatRealism/Combat_Realism.csproj.user
Source/CombatRealism/Combat_Realism.csproj
Source/CombatRealism/obj/Debug/Combat_Realism.csproj.FileListAbsolute.txt
